---
layout: default
title: Blog
---

<article id='main'>

    <header class="container">
        <h2>Latest Posts</h2>
    </header>

    <section class='wrapper style4 container'>
        {% for post in site.posts %}
        <div class='row gtr-150'>
            <div class='col-5 col-12-normal'>
                <div class="content">
                        <!-- Image to be rendered here -->
                        <img src="../images/pic01.jpg" />
                </div>
            </div>

            <div class="col-7 col-12-narrowed">
                <div class="content">
                    <h2><a href="{{ post.url }}"><strong>{{ post.title }}</strong></a></h2>
                    {{ post.excerpt }}
                </div>
            </div>
        </div>
        <hr />
        {% endfor %}

        </div>
    </section>

</article>