---
layout: default
title: Blog
---

<article id='main'>

    <header class="container">
        <h2>Latest Posts</h2>
    </header>

    <section class='wrapper style4 container'>
        <div class='row gtr-150'>
            <div class='col-8 col-12-narrower'>
                <div class="content">
                    
                    <ul>
                        <section>
                            {% for post in site.posts %}
                            <li>
                                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                                {{ post.excerpt }}
                            </li>
                            {% endfor %}
                        </section>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</article>