---
layout: default
title: Blog
---

<article id='main'>
    <header class="container">
        <h2 style="font-weight: 600;"><strong>Blog Posts</strong></h2>
    </header>

    {% for post in site.posts %}
    <article class='wrapper-custom style4 container'>
        <div class="content" style="align-content: center;">
            <h2 style="margin-bottom: 0em;"><a href="{{ post.url }}"><strong>{{ post.title }}</strong></a></h2>
            <p style="text-transform: capitalize; opacity: 0.5; font-size: small;">Posted
                {% assign day = post.date | date: "%-d"  %}
                {% case day %}
                {% when '1' or '21' or '31' %}{{ day }}st
                {% when '2' or '22' %}{{ day }}nd
                {% when '3' or '23' %}{{ day }}rd
                {% else %}{{ day }}th
                {% endcase %}
                {{ post.date | date: " %B, %Y" }}</p>
            <p style="font-size: medium;">{{ post.excerpt }}</p>
        </div>
    </article>
    {% endfor %}
</article>