---
layout: default
type: post
---

<article id='main'>
    <section class='wrapper style4 container'>

        <!-- Post content -->
        <div class="content">
            <header>
                <h2 style="margin-bottom: 0em;"><strong>{{ page.title }}</strong></h2>
                <p style="text-transform: capitalize; opacity: 0.5; font-size: small;">Posted
                    {% assign day = page.date | date: "%-d"  %}
                    {% case day %}
                    {% when '1' or '21' or '31' %}{{ day }}st
                    {% when '2' or '22' %}{{ day }}nd
                    {% when '3' or '23' %}{{ day }}rd
                    {% else %}{{ day }}th
                    {% endcase %}
                    {{ page.date | date: " %B, %Y" }}</p>
            </header>
            <section>
                <div class="col-12 col-12-narrower">
                    {% if post.featured-image %}{% include post-featured-image.html image=post.featured-image alt=post.featured-image-alt %}{% endif %}
                    <img src="{{ page.thumbnail }}" alt="{{ page.title }}" height="600px" width="100%" />
                </div>
                {{ content }}
            </section>

            <!-- Post Navigation Panel -->
            <div class="row">
                <div class="col-6 col-12-narrower">
                    <section>
                        {% if page.previous.url %}
                            <a href="{{ page.previous.url }}" class="button small">Previous Post</a>
                        {% else %}
                            <button class="button small last-post" disabled>Previous Post</button>
                        {% endif %}
                    </section>
                </div>

                <div class="col-6 col-12-narrower">
                    <section>
                        {% if page.next.url %}
                            <a href="{{ page.next.url }}" class="button small align-div-right">Next Post</a>
                        {% else %}
                        <div style="float: right;">
                            <button class="button small last-post" disabled>Next Post</button>
                        </div>                 
                        {% endif %}
                    </section>
                </div>
            </div>
        </div>
    </section>
</article>