---
layout: default
type: post
---

<article id='main'>
    <header class='container'>
        <h1>{{ page.title }}</h1>
    </header>

    <section class='wrapper style4 container'>
        <div class='row gtr-150'>
            <div class="content">
                <div class="col-12 col-12-narrower">
                    <img src="{{ page.thumbnail }}" />
                </div>
                <p>{{ page.date | date_to_string }} - {{ page.author }}</p>
                {{ content }}
            </div>
        </div>
    </section>
</article>
